.kakao
 {
    color: black;
    background-color: #f7e111;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 800px;
}
.normal 
{
    color: white;
    background-color: hsl(54, 56%, 25%);
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: 800px;

}
.apple {
    color: black;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    font-weight: 800px;
}
.register {
    color: #0078ff;
    background-color: white;
    text-align: center;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 800px;
}

.button{
    border: 1px solid #0078ff;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
}