  .container {
    /* 자식들을 바둑판화 배치 시키기 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 자기 자식들들이 넓이 만큼 */
    width: fit-content;
    gap: 10px;
  }
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
