.container {
  display: flex;
  width: 1500px;
  height: 900px;
  padding-left: 25%;
  align-items: start;
  text-align: center;
  flex-direction: column;
  background-color: white;
}
.highBar {
  display: flex;
  width: 1000px;
  height: 55px;
}
@font-face {
  font-family: "MoveSans-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.leftText {
  width: 150px;
  height: 55px;
  color: blue;
  font-size: 33px;
  font-family: "MoveSans-Bold";
  justify-content: left;
  padding-left: 0px;
}

.centerText {
  display: flex;
  width: 200px;
  height: 33px;
  font-size: 22px;
  padding-left: 120px;
  justify-content: center;
}
.arUnder {
  cursor: pointer;
}
.rightbutton {
  display: flex;
  width: 300px;
  height: 55px;
  align-items: center;
  justify-content: right;
  padding: 0px 100px 0px 10px;
  gap: 15px;
}
.button {
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.centerRoom {
  display: flex;
  width: 1000px;
  height: 10px;
  padding-top: 80px;
  justify-content: center;
}
.textBox {
  display: flex;
  width: 757px;
  height: 33px;
  border: 1px solid silver;
  border-radius: 10px;
  justify-content: right;
}
.magnifying {
  font-size: 26px;
}
.textBox > span {
  display: flex;
  padding-right: 66%;
}
.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  gap: 50px;
  padding-left: 150px;
}
.dingIcon {
  display: flex;
  width: 44px;
  height: 44px;
  font-size: 44px;
}
.menu > div {
  font-size: 30px;
}
.ding {
  display: flex;
  width: 800px;
  height: 55px;
  padding-left: 10px;
  padding-top: 10px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
}

.teduriBox {
  display: flex;
  align-items: left;
  width: 1000px;
  height: 200px;
  border-radius: 15px;
  flex-direction: row;
}
.teduri {
  display: flex;
  width: 50px;
  height: 100px;
  gap: 10px;
  border-radius: 15px;
}
.scrollable {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  overflow-y: hidden; /* 초기에는 스크롤바 숨김 */
}

.content {
  height: 400px; /* 스크롤을 테스트하기 위해 높이를 크게 설정 */
  background: linear-gradient(#f06, white);
}
