.container{
    display: flex;
}

.box{
    width: 2500px;
    height: 200px;
    display: flex;
}
.greenyellow{
    background-color: greenyellow;
}
.aquamarine{
    background-color: aquamarine;
}
.skyblue{
    background-color: skyblue;
}
.purple{
    background-color: purple;
}